
.main-content {
    text-align: center;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

img {
    border-radius: 10px;
    width: 650px;
    height: 650px;
}

@media screen and (max-width: 480px) {

    .content{
        display: flex;
        justify-content: center;
        margin-top: 70px;
    }
    
    img {
        border-radius: 10px;
        width: 1500px;
        height: 300px;
    }

}