@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');

.navBarContainer {
    /* Keeps it stuck to the top */
    /* position: fixed;      */
     /* Aligns it with the top of the viewport */
    top: 0;         
    /* Ensures it starts from the left edge */
    left: 0;        
    width: 100%; 
    background-color: #F7D0E8;
    height: 70px;
    padding: 20px;
    margin: -20px 0px 20px -10px;
}

.navElements{
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
    margin: 3px 0px 10px -20px;
}

h1 {
    color: black;
    font-family: "Rasa", serif;
    font-weight: 390;
    font-style: italic;
}

.navigationLinks{
    padding-top: 25px;
    margin-right: 20px;
}

.individualLink {
    text-decoration: none;
    color: black;
    font-family: "Rasa", serif;
    font-weight: 450;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 10px;
}